@import "~/assets/scss/_variables.scss";

* {
  font-family: 'Quicksand', sans-serif;
}

body {
  margin: 0;

  .main-wrapper {
    display: flex;
    min-height: 100vh;

    .content-wrapper {
      overflow: auto;
      margin-bottom: 20px;
    
      .row {
        height: 100%;
        display: flex;
        align-items: flex-start;
    
        @media only screen and (min-width: 768px) {
          align-items: center;
        }
    
        div {
          .title {
            margin: 5px 0px;
            color: #66696d;
            font-size: 32px;
            font-weight: 200;
            position: relative;
            margin-bottom: 18px;
            margin-top: 24px;
            
            @media only screen and (min-width: 768px) {
              margin-top: none;
            }
    
            &:after {
              display: inline-block;
              position: absolute;
              bottom: -4px;
              left: 0;
              content: '';
              width: 100%;
              height: 2px;
              background-color: #04c58e;
            }
          }
    
          .content {
            display: block;
            max-height: 460px;
            min-height: 460px;
    
            @media only screen and (min-width: 768px) {
              display: flex;
            }
          }
        }
      }
    }
  }
}
